@model List<Web_Menu.Models.CartItem>

@{
    ViewData["Title"] = "Cart";
    ViewData["BodyClass"] = "index-page index-background";
}

<link rel="stylesheet" href="~/css/addpage.css" />
<link rel="stylesheet" href="~/css/cart.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap">

<div class="hdr">
    <h1 class="text-center mb-5">Your Cart</h1>
</div>

@if (!Model.Any())
{
    <div class="container mt-5">
        <p class="text-center">Your cart is empty.</p>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="cart-items">
            @foreach (var item in Model)
            {
                @Html.Partial("_CartItem", item)
            }
            <div class="cart-total text-right mt-5 fontfam">
                <h2>Total: $@Model.Sum(i => i.Game.Price * i.Quantity)</h2>
            </div>
            <div class="text-center mt-4 d-flex justify-content-between">
                <a href="@Url.Action("Index", "Home")" class="backto">Back to Games</a>
                <a href="@Url.Action("Checkout", "Cart")" class="btn createbtn">Proceed to Checkout</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
