@model IEnumerable<Web_Menu.Models.Game>

@{
    ViewData["Title"] = "Game Introduction";
    ViewData["BodyClass"] = "index-page index-background";
}

<link rel="stylesheet" href="~/css/custom.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap">

<div class="hdr">
    <h1 class="text-center mb-5">Game Universes Shop</h1>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="text-center mb-5">
        <a href="@Url.Action("Create", "Home")" class="btn createbtn3">Add New Game</a>
    </div>
}

<div class="container mt-5">
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-6 mb-4">
                @Html.Partial("_GameCard", (Web_Menu.Models.Game)game)
            </div>
        }
    </div>
</div>
